<<<<<<< Updated upstream
version: '3.8'

=======
>>>>>>> Stashed changes
networks:
  caps_network:
    driver: bridge

services:
  backend:
    build:
<<<<<<< Updated upstream
      context: ./Backend
=======
      context: ./caps-backend
>>>>>>> Stashed changes
      dockerfile: Dockerfile
    container_name: caps_backend
    networks:
      - caps_network
<<<<<<< Updated upstream
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - mysql

  frontend:
    build:
      context: ./Frontend
=======
    volumes:
      - ./caps-backend:/var/www/html/public
    depends_on:
      - mysql
    ports:
    - "8000:80"

  frontend:
    build:
      context: ./caps-frontend
>>>>>>> Stashed changes
      dockerfile: Dockerfile
    container_name: caps_frontend
    networks:
      - caps_network
    ports:
<<<<<<< Updated upstream
      - "80:5173"  # React app runs on port 5173 by default with Vite
    depends_on:
      - backend
=======
      - "80:5173"
>>>>>>> Stashed changes

  mysql:
    image: mysql:8
    container_name: caps_mysql
    restart: always
    networks:
      - caps_network
    ports:
      - "4406:3306"
    environment:
      MYSQL_ROOT_PASSWORD: COEwebsite2025
      MYSQL_DATABASE: caps_db
      MYSQL_USER: kylo
      MYSQL_PASSWORD: CAPSwebsite2025
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_container
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: COEwebsite2025
    ports:
      - "8080:80"
    depends_on:
      - mysql
    networks:
      - caps_network

volumes:
  mysql_data:
